@model TechDemo.Core.Infrastructure.Services.CreateUserVm
    <form method="post" asp-action="Create" enctype="multipart/form-data">
        <div class="form-group">
            <label asp-for="@Model.Name"></label>
            <input type="text" class="form-control" placeholder="Введите имя" asp-for="@Model.Name" />
            <span asp-validation-for="@Model.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Email"></label>
            <input type="email" class="form-control" placeholder="Введите адрес электронной почты" asp-for="@Model.Email" />
            <span asp-validation-for="@Model.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.DateOfBirth"></label>
            <input type="date" class="form-control" asp-for="@Model.DateOfBirth" />
            <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="@Model.Password"></label>
            <input type="text" class="form-control" placeholder="Введите пароль" asp-for="@Model.Password" />
            <span asp-validation-for="@Model.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Photo"></label>
            <input type="file" class="form-control-file" asp-for="Photo" />
            <span asp-validation-for="@Model.Photo" class="text-danger"></span>

        </div>
        <button class="btn btn-success">Создать</button>
    </form>

